@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');


body {
  font-family: 'Fira Sans', sans-serif;
  color: #222028;
  margin: 0;
}

.story, .process-result, .side-navbar, .header, .navigation {
  padding: 0 1em;
  display: flow-root;
}

.article {
  width: auto;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

p, blockquote, figcaption, table {
  font-family: Georgia, serif;
}

h1 {
  font-size: 3em;
}

.header {
  background-color: #353A42;
  background-blend-mode: multiply;
  background-image: url("/project-code/img/ingredients-480w.jpg");
  background-size: cover;
  color: #FFFFFF;
  padding: 1em;
}

ul {
  margin-block-start: 0;
}

.nav-1 {
  padding-inline-start: 0;
  list-style-type: none;
  text-transform: uppercase;
}

.responsive {
  width: 100%;
  height: auto;
}

.navigation {
  background-color: #353A42;
  color:#FFBC48;
  padding-block-start: 1em;
  font-weight: 600;
}

.ingredients, .ingredients-pounds, .equipments {
  padding-inline-start: 1em;
  font-family: Georgia, serif;
}

.nav-2 {
  padding-inline-start: 0;
  list-style-type: none;
}

li {
  line-height: 3ch;
}

.tag {
  background-color: #FFBC48;
  display: inline;
  color: #222028;
  padding: 0.1em 0.2em;
}

a {
  color: #FFBC48;
  font-weight: 600;
}

mark {
  background-color: #FFBC48;
}

.navigation-links {
  text-decoration: none;
}

.navigation-links:hover {
  color: #FFFFFF;
}

blockquote {
  padding-left: 1em;
  margin: 0;
  border-left: 0.3em solid #FFBC48;
} 

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0.1em solid #000000;
  text-align: center;
  padding: 1em;
}

tr:nth-child(even) {
  background-color: #f1efef;
}

th {
  background-color: #ffffff;
}

.footer {
  background-color: #222028;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: #ffffff;
}

.icons {
align-self: center;
}

.fab {
  color: #FFBC48;
  font-size: 2em;
}

.fab:hover {
  color: #FFFFFF;
  font-size: 2.5em;
}

.mode {
	display: none;
}

.grams {
  color: #000000;
  position: absolute;
  top: 50%;
  left: 8%;
  z-index: 1;
  font-size: 0.8em;
  cursor: pointer;
}
.lbs {
  color: #000000;
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 1;
  font-size: 0.8em;
  cursor: pointer;
}

.toggle {
	background-color: #ffffff;
	display: block;
	width: 6em;
	border-radius: 1em;
	transition: background-color 200ms, border-color 200ms;
	position: relative;
	top: 0.5em;
  margin-bottom: 1em;
	line-height: 0;
	cursor: pointer;
}

.switch {
	background-color: #FFBC48;
	height: 1.5em;
	width: 3em;
  clip: rect(0 0 0 0);
	border: 1px solid black;
	border-radius: 1em;
	transition: transform 200ms, background-color 200ms;
	color: black;
	cursor: pointer;
}

.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.switch::after {
  top: 0;
  left: 0;
	height: 1.8em;
	width: 3.3em;
	border-radius: 1.5em;
  background-color: #FFBC48;
  border: 0.2em solid #000000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.mode:checked + .toggle .switch {
	transform: translateX(3em);
	color: rgba(0,0,0,0.8);
}


.ingredients-pounds {
  display: none;
}

.mode:checked ~ .ingredients {
  display: none;
}
.mode:checked ~ .ingredients-pounds {
  display: block;
}

.image {
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 960px) {
  .image {
    line-height: 0;
    position: relative;
  }
  
  .image figcaption {
    position: absolute;
    display: none;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .article {
    grid-template-columns: 1fr 0.7fr 1.3fr 1fr;
    background-color: #353A42;
    grid-template-areas: 
    "topbar  topbar topbar topbar"
    ". sidebar navigation ."
    ". sidebar main ."
    ". sidebar process ."
    ". sidebar footer .";
  }

  .header {
    grid-area: topbar;
    background-color: #353A42;
    background-blend-mode: multiply;
    background-image: url("project-code/img/ingredients-1920w.jpg");
    background-size: cover;
    color: #FFFFFF;
    padding: 2em;
    display: flex;
    justify-content: space-around;
  }
  .story {
    grid-area: main;
    background-color: #ffffff;
  }
  .nav-1 {
    display: inline-flex;
    gap: 8em;
}
  .side-navbar {
    margin-top: -2em;
    grid-area: sidebar;
    background-color: #FFBC48;
  }
  .navigation {
    margin-top: -2em;
    grid-area: navigation;
  }
  .nav-2 {
    display: inline-flex;
    gap: 4em;
  }
  .process-result {
    grid-area: process;
    background-color: #ffffff;
  }
  .footer {
    grid-area: footer;
  }
  .image:hover figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
  }
  }
  
}
