@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');

body {
  font-family: 'Fira Sans', sans-serif;
  color: #222028;
  margin: 0;
}

article {
  width: auto;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

p, blockquote, figcaption, table {
  font-family: Georgia, serif;
}

.header {
  background-color: #353A42;
  background-blend-mode: multiply;
  background-image: url("/img/ingredients-480w.jpg");
  background-size: cover;
  color: #FFFFFF;
  padding: 1em;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

main, header, nav {
  padding: 0 1em;
  display: flow-root;
}

.nav-1 {
  padding-inline-start: 0;
  list-style-type: none;
}

.responsive {
  width: 100%;
  height: auto;
}

.navigation {
  background-color: #353A42;
  color:#FFBC48;
  padding-block-start: 1em;
  padding-block-end: 1em;
  font-weight: 600;
}

.ingredients {
  padding-inline-start: 1em;
  font-family: Georgia, serif;
}

.nav-2 {
  padding-inline-start: 0;
  list-style-type: none;
}

li {
  margin: 0 0 0.5em 0;
}

li:last-child {
  margin: 0;
}

.tag {
  background-color: #FFBC48;
  display: inline;
  color: #222028;
  padding: 0.1em 0.2em;
}

a {
  color: #FFBC48;
  font-weight: 600;
}

mark {
  background-color: #FFBC48;
}

.navigation-links {
  text-decoration: none;
}

.navigation-links:hover {
  color: #FFFFFF;
}

blockquote {
  padding-left: 1em;
  margin: 0;
  border-left: 0.3em solid #FFBC48;
} 

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0.1em solid #000000;
  text-align: center;
  padding: 1em;
}

tr:nth-child(even) {
  background-color: #f1efef;
}

th {
  background-color: #ffffff;
}

.footer {
background-color: #353A42;
padding: 1em;
display: flex;
}

.copyright {
  color: #ffffff;
  flex: 1;
}

.icons {
align-self: center;
}

.fab {
  color: #FFBC48;
  font-size: 2em;
}

.fab:hover {
  color: #FFFFFF;
  font-size: 2.5em;
}